
body {
    background-color: #000000;
}

.epg {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    right: initial;
    opacity: 1;
    z-index: 10;
}

.tv {
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    right: initial;
    opacity: 1;
}