body {
    background-color: #000000;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    /*margin: 0;*/
    z-index: 1;
}

.epg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.tv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.channelList {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.channelInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.channelHeader {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 7;
}

.channelSettings {
    background-color: rgba(11, 39, 58, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.tvhSettings {
    background-color: rgba(11, 39, 58, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.tvhSettings .username {
    width: 30%;
}

.tvhSettings .password {
    width: 30%;
}
